$Color: (
    primary: #CA1657,
    secondary: #FC6D3A,
    thirdary: #FFE65C,
    fouthary: #275297,
    black: #333,
    gray: #999,
    light-gray: #E3E3E3
);


$Text: (
    xxl: 48px,
    xl: 26px,
    lg: 20px,
    md: 18px,
    sm: 16px
);


$Radius: (
    md: 20px
);

